In [1]:
import pandas as pd

In [3]:
# Make a reference to the books.csv file path
csv_path = "Resources/budget_data.csv"

# Import the books.csv file as a DataFrame
budget_data_df = pd.read_csv(csv_path,nrows=86)
budget_data_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [16]:
# Import the books.csv file as a DataFrame
budget_data_df = pd.read_csv(csv_path)
budget_data_df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [15]:
# Import the books.csv file as a DataFrame
budget_data_df = pd.read_csv(csv_path,header = None, names=['Fecha', 'ganancia/perdida'])
budget_data_df.head()

      Fecha ganancia/perdida
0      Date    Profit/Losses
1  Jan-2010           867884
2  Feb-2010           984655
3  Mar-2010           322013
4  Apr-2010           -69417